* {
    font-family: 'Lato';
    margin: 0px;
}

.grid{
    min-height: 100%;
    display: grid;
    /* grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px; */
    grid-auto-flow: row;
    grid-gap: 100px;
    justify-items: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    /* display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 3rem 1rem 3rem 1rem; */
}


.card{
    /* display: grid;
    flex-direction: grid;
    width: 65%;
    margin-right: 2%;
    padding-left: 5%;
    background-color: #5295ffe0; */
    grid-template-columns: 25px repeat(7, 1fr) 25px;
    grid-template-rows: 1fr;
    grid-row-start: 1; 
    grid-row-end: 3;
    box-shadow: -4px 8px 12px 0px rgba(179,179,179,1);
    width: 230px;
    border: 1px solid silver;
    height: max-content;
    /* margin: 0 15px; */
    transition: transform 0.5s;
    color: #959595;
    font-weight: 300;
    font-size: 15px;

    /* width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out; */
}

.card:hover{
    box-shadow: 0px 0px 8px blue;
    transition: .5s;
    transform: translate(10px,-5px);
    /* box-shadow: 0px 0px 15px 0px  ---Don't uncomment this one--- */ 
}

.list-group-flush{
    padding: 0 1rem;
    color: #959595;
    font-weight: 300;
    font-size: 15px;
}

.CardHeader{
    text-align: center;
    margin: 30px 0 20px 0;
}

/* .CardButton{
    width: 70%;
    background-color: #369be6;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
} */

@media screen and (max-width: 768px) {

    /* .grid { */
    .card {
        display: grid;
        /* grid-auto-flow: row; */
        /* grid-gap: 100px; */
        justify-items: center;
        align-items: center;
        /* margin: 15px;
        padding: 15px; */
        background-color: #5295ffe0;
        /* width: fit-content; 
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
}

@media screen and (max-width: 320px) {

    /* .grid { */
    .card {
        display: grid;
        /* grid-auto-flow: row; */
        /* grid-gap: 100px; */
        justify-items: center;
        align-items: center;
        /* margin: 15px;
        padding: 15px; */
        background-color: #5295ffe0;
        /* width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
}


