@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  /* position: relative; */
  /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #f4eaae;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}


@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}



/* General styles */

/* img {
  display: block;
  max-width: 100%;
} */


/* h2 {
  font-size: var(--fs-h2);
} */

/* h3 {
  font-size: var(--fs-h3);
} */


.Home-Wrapper{
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 200px 100px;
  margin: 10px;
  padding: 10px;
  justify-items: center;
  text-decoration: none;
  font-size: 20px; */
  min-height: 100%;
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
    /* grid-gap: 100px; */
    justify-items: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
}

.Video{
  display: grid;
  grid-column: 1 / span 2;
    grid-row: 5 / 5;
    position: relative;
    padding-top: 10rem;
    justify-items: center;
    align-items: center;

}

@media screen and (max-width: 768px) {

    .Home-Wrapper {
        /* display: grid;
        justify-items: left;
        grid-gap: 6px;
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        background-color: #5295ffe0; */
        /* display: grid;
        grid-gap: 20px;
		    grid-template-columns: 300px auto px; */
        /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */

    /* height:100vh; */
	/* display: grid;
	grid-template-columns: 2fr ; */
  display: grid;
  grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        background-color: #5295ffe0;
    }
}

@media screen and (max-width: 320px) {
    .Home-Wrapper {
        /* display: flex;
        justify-items: left;
        align-items: center;
        background-color: #5295ffe0; */
        /* display: grid;
        grid-gap: 20px;
			  grid-template-columns: 120px auto 120px; */
        /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem; */


    /* height:100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 80px;
	max-width: 80%;
	margin-top: 10vh; */
  /* display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 1fr; */
  /* display: grid;
  grid-template-columns: 2fr; */
  display: grid;
        justify-items: center;
        align-items: center;
        background-color: #5295ffe0;
    /* grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr; */
    }
}

/* footer */

.footer {
  background-color: #6a73b2;
  color: var(--clr-accent);
  width: 100%;
  height: 200px;
  box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  /* padding: 0; */
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}