.Before--After{
  vertical-align: right;
}

span{
  float: right;
  display: grid;
  grid-template-columns:  3em 3fr 5em;
  grid-template-rows: 2fr 3fr;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr; */
}



