.nav {
  background-color: #84b2ca;
  height: 70px;
  /* margin-top: -80px; */
  display: flex;
  justify-content: justify;
  align-items: right;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .nav {
    transition: 0.8s all ease;
  }
}

.header--create {
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* height: 80px; */
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
  text-decoration: none;
}

.Mobile--Icon {
  /* display: none; */
  text-align: right;
  color: black;
}

@media screen and (max-width: 768px) {
  .Mobile--Icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }
}

.Nav--Menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  /* margin-right: -22px; */
}

@media screen and (max-width: 768px) {
  .Nav--Menu {
    display: none;
  }
}

.Nav--Item {
  height: 80px;
}

.Nav--Links {
  color: #143d8c;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}